{% extends 'layout.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>{{ post.title }}</h1>

      <small class="text-muted">Created: {{ post.createdAt|date('F j, Y') }} | Updated: {{ post.updatedAt|date('F j, Y') }}</small>

      <hr class="divider" />

      <div>{{ post.content|raw }}</div>

      <div class="mt-5">
        <a href="{{ path('app_home_index') }}">back to list</a>
      </div>
    </div>
  </div>
{% endblock %}
